#**Base de datos sobre contaminación y sustentabilidad en la industria vitivinicola**

###Hipotesis: "La producción sustentable de vino en Chile está logrando posicionarse por sobre el tradicional como el principal método de producción."

###La transformación de la industria vitivinícola a una producción de vino sustentable a sido la respuesta a un mundo que ya no acepta industrias que contaminan y tienen una alta huella de carbono.

##Las siguientes bases de datos, reflejan cómo la industria vitivinícola en Chile, a logrado ser más sustentable y menos contaminante.

##Para poder comprender los graficos, es requisito primero entender el concepto de Huella Hídrica. La Huella Hídrica es un indicador de sostenibilidad ambiental, que mide el consumo final del agua que se utiliza para fabricar un bien o servicio. En el caso del vino, ultimamente las viñas han estado utlizando este concepto para poder medir su sosteniblidad ambiental.

##En el calculo, la Huella Hidrica representa la totalidad del consumo de agua en el proceso. Se separa en tres tipos de huella. La huella azul, que representa el agua de riego. También la huella verde que contabliza el agua de lluvia o nieve aprovechada por las plantas. Y por último, la huella gris, que refiere al volumen de agua contaminada que se obtiene tras llevar a cabo el proceso.

##"Concha y Toro" es una viña chilena reconocida a nivel mundial. Ellos han aplicado tecnicas en la producción del vino para dismiuir su huella hidrica, tal como usar un sistema de riego por goteo. Estas son sus estadisticas de consumo de recursos en los últimos años.

La información que será entregada a continuación es de acuerdo a la página: https://conchaytoro.com/content/uploads/2021/01/VCT_RS2019_VF-1.pdf

##**Huella Hídrica de una copa de vina (125ml)**

In [ ]:
import pandas as pd

data = {
    'Año': ['2010', '2020', 'Promedio de la industria'],
    '/ Huella Hídrica (Litros por copa de vino)': ['72 Lts/copa', '55 Lts/copa', '109 Lts/copa'],
    '/ Variación': ['x', '-24%', '+98%']
}

df = pd.DataFrame(data)

print(df)

                        Año / Huella Hídrica (Litros por copa de vino)  \
0                      2010                                72 Lts/copa
1                      2020                                55 Lts/copa
2  Promedio de la industria                               109 Lts/copa

  / Variación
0           x
1        -24%
2        +98%

##**Extracción de agua**

In [ ]:
import pandas as pd

data = {
    'Fuente': ['Agua superficial', 'Agua subterránea'],
    'Unidad': ['miles m3', 'miles m3'],
    '2017': [19346, 12237],
    '2018': [21058, 12750],
    '2019': [25161, 17220],
    'Variación': ['19%', '35%']
}

df = pd.DataFrame(data)

print(df)

             Fuente    Unidad   2017   2018   2019 Variación
0  Agua superficial  miles m3  19346  21058  25161       19%
1  Agua subterránea  miles m3  12237  12750  17220       35%

##**Extracción de agua en zonas de estrés hídrico**

In [ ]:
import pandas as pd

data = {
    'Fuente': ['Agua superficial', 'Agua subterránea', 'Agua Municipal'],
    'Unidad': ['miles m3', 'miles m3', 'miles m3'],
    '2017': [11480, 8817, 85],
    '2018': [12903, 9107, 93],
    '2019': [25017, 15867, 104],
    'Variación': ['94%', '74%', '11%']
}

df = pd.DataFrame(data)

print(df)

             Fuente    Unidad   2017   2018   2019 Variación
0  Agua superficial  miles m3  11480  12903  25017       94%
1  Agua subterránea  miles m3   8817   9107  15867       74%
2    Agua Municipal  miles m3     85     93    104       11%

##**Consumo de agua**

```
# Tiene formato de código
```

In [ ]:
import pandas as pd

data = {
    'Fuente': ['Agua superficial', 'Agua subterránea', 'Agua Municipal', 'Consumo total'],
    'Unidad': ['miles m3', 'miles m3', 'miles m3', 'miles m3'],
    '2017': [12749, 4237, 7, 16993],
    '2018': [14533, 4624, 8, 19165],
    '2019': [19359, 6409, 11, 25779],
    'Variación': ['33%', '39%', '44%', '']
}

data['Variación'][3] = f"{((data['2019'][3] - data['2017'][3]) / data['2017'][3]) * 100:.2f}%"

df = pd.DataFrame(data)

print(df)

             Fuente    Unidad   2017   2018   2019 Variación
0  Agua superficial  miles m3  12749  14533  19359       33%
1  Agua subterránea  miles m3   4237   4624   6409       39%
2    Agua Municipal  miles m3      7      8     11       44%
3     Consumo total  miles m3  16993  19165  25779    51.70%

##**Consumo de agua en zonas de estrés hídrico**

In [ ]:
import pandas as pd

data = {
    'Fuente': ['Agua superficial', 'Agua subterránea', 'Agua Municipal', 'Consumo total'],
    'Unidad': ['miles m3', 'miles m3', 'miles m3', 'Mega Lts'],
    '2017': [6747, 2758, 6, 9511],
    '2018': [7598, 3021, 7, 10627],
    '2019': [19359, 6409, 11, 25779],
    'Variación': ['155%', '112%', '57%', '']
}

data['Variación'][3] = f"{((data['2019'][3] - data['2017'][3]) / data['2017'][3]) * 100:.2f}%"

df = pd.DataFrame(data)

print(df)

             Fuente    Unidad  2017   2018   2019 Variación
0  Agua superficial  miles m3  6747   7598  19359      155%
1  Agua subterránea  miles m3  2758   3021   6409      112%
2    Agua Municipal  miles m3     6      7     11       57%
3     Consumo total  Mega Lts  9511  10627  25779   171.04%

##**Descarga de agua por calidad**

In [ ]:
import pandas as pd

data = {
    'Calidad': ['DBO (Carga Total)', 'DQO (Carga Total)'],
    'Unidad': ['ton', 'ton'],
    '2017': [853, 1422],
    '2018': [641, 1068],
    '2019': [614, 417],
    'Variación': ['-4.2%', '-60.9%']
}

df = pd.DataFrame(data)

print(df)

             Calidad Unidad  2017  2018  2019 Variación
0  DBO (Carga Total)    ton   853   641   614     -4.2%
1  DQO (Carga Total)    ton  1422  1068   417    -60.9%

##**Consumo de combustibles**

In [ ]:
import pandas as pd

data = {
    'Unidad': ['Gasolina', 'Diesel', 'GLP', 'Gas Natural'],
    '2017': [8249, 30684, 26201, 5297],
    '2018': [8144, 34972, 28860, 6056],
    '2019': [7304, 32695, 30344, 4565],
    'Variación': ['-10.3%', '-6.5%', '5.1%', '-24.6%']
}

df = pd.DataFrame(data)

print(df)

        Unidad   2017   2018   2019 Variación
0     Gasolina   8249   8144   7304    -10.3%
1       Diesel  30684  34972  32695     -6.5%
2          GLP  26201  28860  30344      5.1%
3  Gas Natural   5297   6056   4565    -24.6%